.ErrorView {
    padding: 1rem;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.ErrorView__top-paraph {
    font-size: 3rem;
    font-weight: 700;
}

.ErrorView__bottom-paraph {
    font-size: 1.5rem;
}

.ErrorView a {
    margin: 0 auto;
    width: 120px;
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    z-index: 1;
    padding: .5rem 1rem;
    border-radius: .3rem;
    background-color: #58885f;
    overflow: hidden;
    font-size: 1rem;
    transition: all 0.5s ease 0s;
    color: white;
    border: none;
}

.ErrorView a:hover{
    color: #000000;
    background-color: #b3ea81;
}
