
table {
    border-radius: 1rem;
    text-align: left;
    width: 60vw;
    max-width: 1000px;
    margin: 0 auto 20px ;
    font-size: 18px;
    background: -webkit-linear-gradient(left, #85f6c7, #2ac425);
    background: linear-gradient(to right, #128056, #0c3f3c);
    color: white;
}

table a {
    color: white;
}

table td, table th {
    padding: 4px 10px;
    min-width: 100px;
    border-bottom: solid 1px rgba(255,255,255,0.5);
    border-right: solid 1px rgba(255,255,255,0.5);
}

tbody tr:last-child td, tbody tr:last-child th {
    border-bottom: none;
}

.FlowersTable__last-th{
    border-right: none;
}

table tr, thead  {
    margin: 30px;

}
