.FlowersList__h1 {
    text-shadow: 1px 1px rgb(234, 234, 208);
    text-align: center;
    padding: 20px 0;
    font-size: 1.8rem;
}


.FlowersListTable__table {
    border-radius: 1rem;
    text-align: left;
    width: 60vw;
    max-width: 1000px;
    margin: 0 auto 20px ;
    font-size: 18px;
    background: -webkit-linear-gradient(left, #85f6c7, #2ac425);
    background: linear-gradient(to right, #128056, #0c3f3c);
    color: white;
}

.FlowersListTable__table a {
    color: white;
}

.FlowersListTable__table td, table th {
    padding: 4px 10px;
    min-width: 100px;
    border-bottom: solid 1px rgba(255,255,255,0.5);
    border-right: solid 1px rgba(255,255,255,0.5);
}

.FlowersListTable__table tbody tr:last-child td, tbody tr:last-child th {
    border-bottom: none;
}

.FlowersListTable__table .FlowersTable__last-th{
    border-right: none;
}

.FlowersListTable__table tr, thead  {
    margin: 30px;
}

@media (max-width: 768px) {
    .FlowersListTable__table{
        width: 95vw;
    }
    .FlowersTable__th-mobile-disable {
        display: none;
    }
    .FlowersListTable__table button, .FlowersListTable__table a {
        font-size: 0.8rem;
        padding: .4rem .5rem;
        width: 110px;
    }
    .FlowersListTable__table th, .FlowersListTable__table td, .FlowersListTable__table .FlowersTable__name {
        font-size: 0.9rem;
        padding: 0.2rem;
        text-align: center;
    }
}
