.SettingsOptions {
    width: 100%;
    margin-top: .5rem;
    margin-inline: auto;
    background: -webkit-linear-gradient(left, #85f6c7, #2ac425);
    background: linear-gradient(to right, #128056, #0c3f3c);
    border-radius: .5rem;
    max-width: 660px;
    padding: 2rem;
}

.SettingsOptions__title {
    margin-bottom: 0.5rem;
    color: white;
    padding: 0;
    text-shadow: none;
}

.SettingsOptions__links-group {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.SettingsOptions__link {
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    z-index: 1;
    padding: 0.5rem 1rem;
    color: #ffffff;
    background-color: #58885f;
    border-radius: .3rem;
    overflow: hidden;
}

.SettingsOptions__link:hover {
    color: #20222a;
    background-color: #b3ea81;
    transition: all 0.5s ease 0s;
}

.SettingsOptions__link--delete {
    color: #ffffff;
    background-color: #fc4a4a;
    transition: all 0.5s ease 0s;
}
