.EditFlowerForm__table{
    border-radius: 1rem;
    text-align: left;
    width: 60vw;
    max-width: 1000px;
    margin: 0 auto 20px ;
    font-size: 18px;
    background: -webkit-linear-gradient(left, #85f6c7, #2ac425);
    background: linear-gradient(to right, #128056, #0c3f3c);
    color: white;
}

.EditFlowerForm__tbody input{
    width: 25%;
    font-size: 0.95rem;
}

.EditFlowerForm__tbody .EditFlowerForm__big-input{
    width: 100%;
    height: 2rem;
}

.EditFlowerForm__container {
    display: flex;
    justify-content: center;
}

.EditFlowerForm__tbody textarea {
    width: 100%;
    height: 10rem;
    font-size: 0.95rem;
}

.EditFlowerForm__tbody th {
    border-right: none;
}

.EditButton__a {
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    z-index: 1;
    padding: .5rem 1rem;
    border-radius: .3rem;
    background-color: #58885f;
    overflow: hidden;
    font-size: 1rem;
    transition: all 0.5s ease 0s;
    color: white;
    border: none;
}

.EditButton__a:hover{
    color: #000000;
    background-color: #b3ea81;
}

.EditFlowerForm__tbody label {
    position: relative;
    display: flex;
    flex-direction: column;
}

.EditFlowerForm__tbody label p {
    padding: .5rem;
    font-size: .8rem;
    color: rgb(215, 192, 29);
}

.EditFlowerForm__tbody span {
    position: absolute;
    top: 1.8rem;
    right: .5rem;
    color: #000000;
    font-size: 1.2rem;
}

.EditButton__a[disabled] {
    background-color: #626262;
    cursor: not-allowed;
}
