@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: url("../public/assets/styles/background/bbcg.png");
  background-size: 100%;
  background-color: rgba(214,236,226);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
a:hover, button:hover {
  cursor: pointer;
}
