.WateringButton__button {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    gap: .5rem;
    z-index: 1;
    font-size: 1rem;
    padding: .5rem 1rem;
    transition: all 0.5s ease 0s;
    background-color: #58885f;
    color: white;
    border: none;
    border-radius: .3rem;
}

.WateringButton__button:hover{
    color: #000000;
    background-color: #b3ea81;
}
